<component name="ArtifactManager">
  <artifact type="war" name="springMvcDemo-webapp:war">
    <output-path>$PROJECT_DIR$/springMvcDemo-webapp/target</output-path>
    <root id="archive" name="springMvcDemo-webapp.war">
      <element id="artifact" artifact-name="springMvcDemo-webapp:war exploded" />
    </root>
  </artifact>
</component>